<html lang="en">
<head>
    <title>WR</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="position-relative text-center container-cover">
            <img src="assets/WR-background.png" class="img-fluid profile-image" loading="lazy">
        </div>
        <h1 class = "marg-top-3 marg-left marg-bottom bold-text">UX Design Research</h1>
        <h2 class = "marg-left marg-bottom bold-text">More to come soon</h2>
    </body>
</html>