<html lang="en">
<head>
    <title>Laura</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura-Elena Comanac">
</head>
    <body data-bs-theme={myTheme}>
        <app-header-bar></app-header-bar>
        <div class="container-fluid px-0">
            <div loading="lazy">
              <div class="row">
                <div class="col-md-6">
                  <p class = "marg-top text-font-intro marg-left">Hi, I'm  Laura Elena Comanac</p>
                  <p class = "marg-top-porto text-font-intro2 marg-left">a UX/UI Designer with a frontend background, passionate about innovation.</p>
                  <div class="row">
                      <div class="but marg-left marg-top-porto text-font" type="button" style="width: 300px; height: 60.81px; padding-left: 42.92px; padding-right: 42.92px; padding-top: 16.91px; padding-bottom: 16.91px; background: linear-gradient(99deg, #E32DBB 0%, #4484E3 100%); border-radius: 50px; justify-content: center; align-items: center; gap: 30px; display: inline-flex;
                      color: white; font-size: 19px; font-weight: 500; line-height: 27.31px;" routerLink="/portofolio">See Portfolio
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <iframe class="laptop-image" src='https://my.spline.design/macbookprocopy-3d50844e61c38f9f031bebff4693fedf/' frameborder='0' width='100%' height='100%'></iframe>                </div>
              </div>
            </div>
        </div>
        
        <div class="container-fluid px-0">
          <h1 class = "marg-top-work centered marg-bottom bold-text text-font work">Here is my recent work</h1>

    </div>
          <app-projects></app-projects>
          <app-footer></app-footer>
    </body>
</html>