.profile-image{
    width: 500px;
    border-radius: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 0;
    margin-right: 0;
}

.logo-image{
    width: 80px;
    border-radius: 30%;
    height: auto;
}

.text-color{
    color: white !important;
}

.marg-top{
    margin-top: 15%;
}

.marg-top-2{
    margin-top: 1%;
}

.marg-top-3{
    margin-top: 5%;
}

.marg-bottom{
    margin-bottom: 3%;
}

.marg-left{
    margin-left: 8%;
}

.marg-left-3{
    margin-left: 15%;
}

.marg-left-2{
    margin-left: 3%;
}

.marg-right{
    margin-right: 35%;
}

.header-bar{
    width: 100% !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-cyan {
    background-color: #184a77;
    height: 50%;
}

@media (max-width: 1160px) {
    .profile-image {
        margin-top: 35%;
    }
}

@media (max-width: 767px) {
    .profile-image {
        max-width: 80%;
        margin-top: 25%;
    }
    .marg-top{
        margin-top: 25%;
    }
    .card-size{
        max-width: 100% !important;
        max-height: 50% !important;
    }
    .card{
        max-height: 70% !important;
        margin: 0;
    }
}

@media only screen and (max-width: 318px) {
    .logo-image {
        width: 20vw;
    }
}

@media only screen and (max-width: 1300px) {
    .cont {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 180px) {
    .btn {
      width: 20%;
    }
}

.btn{
    border-radius: 30%;
}

.moon{
    max-width: 100%;
    max-height: 100%;
}
  
.container-end {
    display: flex;
    justify-content: flex-end;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
}

.bold-text{ 
    font-weight: 500;
}

.bold-text-3{
    font-family: sans-serif;
}

.bold-text-2{
    font-family: cursive;
    font-weight: 10 !important;
}

.body-text{
    font-size: 25px;
}

.center {
    text-align: center;
    color: white;
    margin-bottom: 3%;
}

.white{
    color: white;
}

.card-size{
    height: 550px;
}

.background{
    background-color: #184a77;
}

.card{
    margin: 5%;
    margin-top: 0;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 900;
    border-radius: 70px;
}

.card1{
    margin-left: 2%;
}

.card2{
    margin-right: 2%;
}

.card:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.7);
    transform: scale(1.05);
    background-color: #87CEFA;
    z-index: 900;
}

.sticky {
    position: fixed;
    margin-bottom: 10%;
}

.card-font{
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.title-font{
    font-family: "sans-serif";
    font-size: 30px;
}