<html lang="en">
<head>
    <title>About Me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="row">
            <div class="col-md-6">
              <p class = "marg-top-me marg-left-hi text-font t-f">Hi! I'm Laura</p>
              <p class = "marg-left-hi about-me text-font">I am a passionate UX/UI Designer and
                I have started my career as a software developer, where I developed my agile and frontend skills at companies such as Bosch, Generali and UiPath.
                I found my passion for design during the Human-Computer Interaction classes at my master's in Software Engineering.
                These experiences allowed me to design seamless user experiences by taking into account the end user and the feasibility of the designs. 
                Now I am delivering UX/UI Design projects to clients by following the visual design principles and the design thinking process.
            </p>
            </div>
            <div class="col-md-6">
              <img src="assets/about-me-profile.jpg" class="img-fluid profile-image">
            </div>
          </div>

          <div class="row" style="display: flex; align-items: flex-start; align-items: stretch">
            <!-- First Column: Professional Experience -->
            <div class="col-md-6" style="display: flex; justify-content: flex-start; height: 100%">
                <div class="marg-top-me marg-left-hi" style="width: 348px; height: 518px; position: relative;">
                    <div style="width: 348px; height: 590px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 46px; display: inline-flex;">
                        <div style="align-self: stretch; height: 26px; text-align: center; color: white; font-size: 30px; font-weight: 600; word-wrap: break-word;">Professional Experience</div>
                        <div style="width: 348px; height: 518px; position: relative;">
                            <img style="width: 50px; height: 480px; left: 0px; top: 0px; position: absolute;" src="assets/process-job.png" />
                            <div style="width: 278px; height: 518px; left: 70px; top: 0px; position: absolute; display: flex; flex-direction: column; gap: 42px;">
                                <!-- Experience Item 1 -->
                                <div style="align-self: stretch; height: 70px; display: flex; flex-direction: column; justify-content: center; gap: 5px;">
                                    <div class="text-font" style="color: white; font-size: 18px; font-weight: 500;">UX/UI Designer</div>
                                    <div class="text-font" style="color: white; font-size: 16px; font-weight: 400;">Namadgi</div>
                                    <div class="text-font" style="color: white; font-size: 14px; font-weight: 300;">Sept 2024 - Present</div>
                                </div>
                                <!-- Experience Item 2 -->
                                <div style="align-self: stretch; height: 70px; display: flex; flex-direction: column; justify-content: center; gap: 5px;">
                                    <div class="text-font" style="color: white; font-size: 18px; font-weight: 500;">UX/UI Designer</div>
                                    <div class="text-font" style="color: white; font-size: 16px; font-weight: 400;">Freelance</div>
                                    <div class="text-font" style="color: white; font-size: 14px; font-weight: 300;">May 2024 - Sept 2024</div>
                                </div>
                                <!-- Experience Item 3 -->
                                <div style="align-self: stretch; height: 70px; display: flex; flex-direction: column; justify-content: center; gap: 5px;">
                                    <div class="text-font" style="color: white; font-size: 18px; font-weight: 500;">Frontend Developer</div>
                                    <div class="text-font" style="color: white; font-size: 16px; font-weight: 400;">Generali</div>
                                    <div class="text-font" style="color: white; font-size: 14px; font-weight: 300;">Feb 2024 - May 2024</div>
                                </div>
                                <!-- Experience Item 4 -->
                                <div style="align-self: stretch; height: 70px; display: flex; flex-direction: column; justify-content: center; gap: 5px;">
                                    <div class="text-font" style="color: white; font-size: 18px; font-weight: 500;">Frontend Engineer</div>
                                    <div class="text-font" style="color: white; font-size: 16px; font-weight: 400;">Bosch</div>
                                    <div class="text-font" style="color: white; font-size: 14px; font-weight: 300;">Jul 2023 - Dec 2023</div>
                                </div>
                                <!-- Experience Item 5 -->
                                <div style="align-self: stretch; height: 70px; display: flex; flex-direction: column; justify-content: center; gap: 5px;">
                                    <div class="text-font" style="color: white; font-size: 18px; font-weight: 500;">Software Developer</div>
                                    <div class="text-font" style="color: white; font-size: 16px; font-weight: 400;">UiPath</div>
                                    <div class="text-font" style="color: white; font-size: 14px; font-weight: 300;">Jul 2022 - Jul 2023</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Second Column: Education -->
            <div class="col-md-6" style="display: flex; justify-content: flex-start; height: 100%">
                <div class="marg-top-me2 marg-left-hi" style="width: 348px; height: 518px; position: relative;">
                    <div style="width: 348px; height: 590px; position: relative; display: flex; flex-direction: column; gap: 46px;">
                      <div style="align-self: stretch; text-align: left; color: white; font-size: 30px; font-weight: 600; line-height: 20px; word-wrap: break-word">Education</div>
                        <div style="width: 348px; height: 518px; position: relative;">
                            <img style="width: 32px; height: 142px; left: 0px; top: 0px; position: absolute;" src="assets/process-education.png" />
                            <div style="width: 278px; height: 518px; left: 10px; position: absolute; display: flex; flex-direction: column; gap: 40px;">
                                <!-- Education Item 1 -->
                                <div style="height: 70px; position: relative;">
                                    <div style="left: 48px; top: 0px; position: absolute; display: flex; flex-direction: column; justify-content: center; gap: 5px;">
                                        <div style="width: 400px; color: white; font-size: 18px; font-weight: 500;">Software Engineering Master’s Degree</div>
                                        <div style="color: white; font-size: 16px; font-weight: 400;">“Babeș-Bolyai” University</div>
                                        <div style="color: white; font-size: 14px; font-weight: 300;">Jul 2022 - Jul 2024</div>
                                    </div>
                                </div>
                                <!-- Education Item 2 -->
                                <div style="height: 70px; position: relative;">
                                    <div style="left: 48px; top: 0px; position: absolute; display: flex; flex-direction: column; justify-content: center; gap: 5px;">
                                        <div style="width: 400px; color: white; font-size: 18px; font-weight: 500;">Computer Science Bachelor’s Degree</div>
                                        <div style="color: white; font-size: 16px; font-weight: 400;">“Babeș-Bolyai” University</div>
                                        <div style="color: white; font-size: 14px; font-weight: 300;">Jul 2019 - Jul 2022</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div class="row">
            <div class="col-md-12">
              <p class = "marg-top-time centered text-font t-f">Here is what I enjoy doing in my spare time</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-end">
                <img src="assets/traveling.jpg" class="img-fluid card-image">
                <p class = "text-font text-desc">Traveling inspires me to experiment new cultures</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="assets/reading.jpg" class="img-fluid card-image">
                <p class = "ext-font text-desc">Reading provides me with clarity about the world</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-start">
                <img src="assets/painting.jpg" class="img-fluid card-image">
                <p class = "ext-font text-desc">Painting makes me see the creativity in nature</p>
            </div>
          </div>
    </body>
</html>