<html lang="en">
<head>
    <title>About Me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="row">
            <div class="col-md-6">
              <p class = "marg-top-me marg-left-hi text-font">Hi! I'm Laura</p>
              <p class = "marg-left-hi about-me text-font">I am a passionate UX/UI Designer and
                I have started my career as a software developer, where I developed my agile and frontend skills at companies such as Bosch, Generali and UiPath.
                I found my passion for design during the Human-Computer Interaction classes at my master's in Software Engineering.
                These experiences allowed me to design seamless user experiences by taking into account the end user and the feasibility of the designs. 
                Now I am delivering UX/UI Design projects to clients by following the visual design principles and the design thinking process.
            </p>
            </div>
            <div class="col-md-6">
              <img src="assets/about-me-profile.jpg" class="img-fluid profile-image">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p class = "marg-top-time centered text-font">Here is what I enjoy doing in my spare time</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-end">
                <img src="assets/traveling.jpg" class="img-fluid card-image">
                <p class = "text-font text-desc">Traveling inspires me to experiment new cultures</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="assets/reading.jpg" class="img-fluid card-image">
                <p class = "ext-font text-desc">Reading provides me with clarity about the world</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-start">
                <img src="assets/painting.jpg" class="img-fluid card-image">
                <p class = "ext-font text-desc">Painting makes me see the creativity in nature</p>
            </div>
          </div>
    </body>
</html>