<html lang="en">
<head>
    <title>Elysian</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="position-relative text-center container-cover">
            <img src="assets/elysian-background.png" class="img-fluid profile-image" loading="lazy">
        </div>
        <h1 class = "marg-top-3 marg-left marg-bottom bold-text">UI Design</h1>
        <h2 class = "marg-left marg-bottom bold-text">Adaptive Design</h2>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/Elysian/Adaptive.png">
        </div>
        <h2 class = "marg-left marg-bottom bold-text">Tools Used</h2>
        <p class = "marg-left marg-bottom paragraph">Figma, Adobe, ProtoPie</p>
        <h2 class = "marg-left marg-bottom bold-text">Animations</h2>
        <iframe class="marg-left marg-bottom" width="90%" height="1000" src="https://www.behance.net/embed/project/201007073?ilo0=1" height="316" width="404" allowfullscreen lazyload frameborder="0" allow="clipboard-write" refererPolicy="strict-origin-when-cross-origin"></iframe>
        <h2 class = "marg-left marg-bottom bold-text">Moodboard</h2>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/Elysian/MoodBoard.png">
        </div>
        <h2 class = "marg-left marg-bottom bold-text">Designs</h2>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/Elysian/Services.png">
        </div>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/Elysian/Contact.png">
        </div>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/Elysian/Home.png">
        </div>
    </body>
</html>