<html lang="en">
<!-- <head>
    <title>Projects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
</head>
<app-header-bar></app-header-bar> 
    <body>
        <div class="position-relative text-center container-cover">
            <img src="assets/canvas.png" class="img-fluid profile-image" loading="lazy">
            <div class="position-absolute top-50 start-50 translate-middle">UI UX Design is My Canvas</div>
        </div>-->
        <body>
        <div class="container-grid grid-border">
            <div class="item-start text-container">
               <section class="paragraph1 text-font">
                <h1 class="title1">TripVibe</h1>
                <div class="thinner">This trip itinerary planning application is your passport to seamless travel: organizes accommodations, must-try local cuisines, and marks your calendar with attractions, events and festivals. Effortlessly sync your plans across devices and join us as we turn your travel aspirations into vibrant, unforgettable realities, one step at a time.</div>
                </section>
            </div>
            <div class="item-end imgBox">
                <img type="button" routerLink="/tripvibe" src="assets/TripVibe.png" class="img-fluid profile-image proj" loading="lazy">
            </div>          
        </div>
        <div class="container-grid2">
            <div class="item-start2 imgBox">
                <img type="button" routerLink="/elysian" src="assets/Elysian.png" class="img-fluid profile-image proj" loading="lazy">
            </div>
            <div class="item-end2">
                <section class="paragraph2 text-font">
                    <h1 class="title1">Elysian</h1>
                    <div class="thinner">Welcome to Elysian, where unparalleled luxury meets the serene beauty of nature. We specialize in crafting exquisite, nature-inspired spaces that exude elegance and tranquility. Let us transform your home into a bespoke sanctuary, where every detail reflects the harmony of natural splendor.</div>
                </section>
            </div>
        </div>
        <div class="container-grid">
            <div class="item-start">
                <section class="paragraph1 text-font">
                    <h1 class="title1">W.R.</h1>
                    <div class="thinner">Introducing the ultimate gateway to limitless virtual reality experiences. Dive into a boundless universe where your imagination sets no limits. Whether you seek adventure, creativity, or relaxation, W.R. offers an unparalleled, immersive experience tailored to your every desire. Explore endless possibilities, connect with others, and transform your reality with the touch of a button.</div>
                </section>
            </div>
            <div class="item-end imgBox">
                <img type="button" routerLink="/wr" src="assets/WR.png" class="img-fluid profile-image proj" loading="lazy">
            </div>
        </div>
        <div class="container-grid2">
            <div class="item-start2 imgBox">
                <img type="button" routerLink="/myheaven" src="assets/MyHeaven.png" class="img-fluid profile-image proj" loading="lazy">
            </div>
            <div class="item-end2 imgBox">
                <section class="paragraph2 text-font">
                    <h1 class="title1">MyHeaven</h1>
                    <div class="thinner">A magical online heaven that unveils the wonders of Romania, a place where you're swept into a world of stunning sights and incredible experiences. This digital journey is a treasure trove of possibilities, offering a peek into a world where history, culture, and nature collide in breathtaking landscapes.</div>
                </section>
            </div>
        </div>
        <div class="container-grid">
            <div class="item-start">
                <section class="paragraph1 text-font">
                    <h1 class="title1">Projy</h1>
                    <div class="thinner">Step into a realm of endless opportunities with this projects posting application: a canvas where ideas transform into projects where innovators outline their visions. Engage with a vibrant community of creators, exchange insights, collaborate, and breathe life into projects that resonate with your passion. Welcome to the realm where dreams take flight.</div>
                </section>
            </div>
            <div class="item-end imgBox">
                <img type="button" routerLink="/projy" src="assets/Projy.png" class="img-fluid profile-image proj" loading="lazy">
            </div>
        </div>
    </body>
</html>