<html lang="en">
<head>
    <title>Projects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="position-relative text-center container-cover">
            <img src="assets/canvas.jpg" class="img-fluid profile-image">
            <div class="position-absolute top-50 start-50 translate-middle">Web Development is My Canvas</div>
        </div>
        <div class="container-grid">
            <div class="item-start text-container">
               <h1 class="title">TripVibe</h1>
               <section class="paragraph">
                    This trip itinerary planning application is your passport to seamless travel: organizes accommodations, must-try local cuisines, and marks your calendar with attractions, events and festivals. Effortlessly sync your plans across devices and join us as we turn your travel aspirations into vibrant, unforgettable realities, one itinerary at a time.
                </section>
            </div>
            <div class="item-end">
                <img src="assets/TripVibe.png" class="img-fluid profile-image">
            </div>
        </div>
        <div class="container-grid2">
            <div class="item-start2">
                <img src="assets/WordPress.png" class="img-fluid profile-image">
            </div>
            <div class="item-end2">
                <h1 class="title">MyHeaven</h1>
                <section class="paragraph">
                    A magical online heaven that unveils the wonders of Romania, a place where you're swept into a world of stunning sights and incredible experiences. This digital journey is a treasure trove of possibilities, offering a peek into a world where history, culture, and nature collide in breathtaking landscapes.
                </section>
            </div>
        </div>
        <div class="container-grid">
            <div class="item-start">
                <h1 class="title">Projy</h1>
                <section class="paragraph">
                    Step into a realm of endless opportunities with this projects posting application: a canvas where ideas transform into projects where innovators outline their visions. Engage with a vibrant community of creators, exchange insights, collaborate, and breathe life into projects that resonate with your passion. Welcome to the realm where dreams take flight.
                </section>
            </div>
            <div class="item-end">
                <img src="assets/Projy.png" class="img-fluid profile-image">
            </div>
        </div>
    </body>
</html>