.container-grid {
    display: grid;
    grid: auto / 2fr 3fr;
    grid-template-areas: 
    "text1 image1";
    justify-items: stretch;
    width: 100%;
    border-bottom: 0.1px solid white;
}

.thinner{
    font-weight: 300;
}

.container-grid2 {
    display: grid;
    grid: auto / 3fr 2fr;
    grid-template-areas: 
    "image2 text2";
    justify-items: stretch;
    width: 100%;
    border-bottom: 0.1px solid white;
}

.grid-border{
    border-top: 0.1px solid white;
}

.item-start{
    grid-area: text1;
    width: 100%;
}

.item-end{
    grid-area: image1;
    width: 100%;
}

.item-start2{
    grid-area: image2;
    font-size: 30px;
    width: 100%;
    justify-self: stretch;
    align-self: stretch;
}

.item-end2{
    grid-area: text2;
    font-size: 30px;
    width: 100%;
}

body{
    width: 100% !important;
}

.marg{
    margin-top: 4%;
}

@media screen and (max-width: 1500px){
    .container-grid {
        display: grid;
        grid: 2fr 3fr / auto;
        grid-template-areas: 
        "image1"
        "text1";
        justify-items: stretch;
        width: 100%;
    }
    
    .container-grid2 {
        display: grid;
        grid: 2fr 3fr / auto;
        grid-template-areas: 
        "image2"
        "text2";
        justify-items: stretch;
        width: 100%;
    }

    .marg{
        margin-top: 15%;
    }
}


@media screen and (max-width: 1670px){
    .marg{
        margin-top: 5%;
    }
    .paragraph2{
        margin-bottom: 0;
        margin-top: 0;
    }
    .paragraph1{
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 1330px){
    .marg{
        margin-top: 10%;
    }
    .paragraph2{
        margin-bottom: 0;
        margin-top: 0;
    }
    .paragraph1{
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 750px){
    .marg{
        margin-top: 20%;
    }
    .paragraph2{
        margin-bottom: 0;
        margin-top: 0;
    }
    .paragraph1{
        margin-bottom: 0;
        margin-top: 0;
    }
    .container-cover{
        font-size: 20px !important;
    }
}

.text-container{
    flex-direction: column;
}

.title1{
    padding-bottom: 10%;
    padding-top: 10%;
}

.title2{
    padding-top: 10%;
    align-items: center;
    justify-content: center;
    margin-right: 10% !important;
}

.paragraph1{
    padding: 5%;
    size: 60%;
    font-size: 25px;
    line-height: 2;
    margin-left: 10% !important;
}

.paragraph2{
    padding: 5%;
    size: 60%;
    font-size: 25px;
    line-height: 2;
    margin-right: 10% !important;
}

.container-cover{
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}

.imgBox {
    display: inline-block;
    overflow: hidden;
  }
  .imgBox .proj {
    display: block;
    transition: .5s ease-in-out;
  }
  .imgBox:hover .proj {
    transform: scale(1.1);
}

@media (max-width: 704px) {
    .paragraph1 .paragraph2{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}