.custom-navbar {
    height: 80px; 
    opacity: 0.70; 
    background: transparent;
}

.menu-button{
    border-radius: 50px;
}

.menu-button:hover{
    color: #1958be !important;
}

.home{
    padding: 0;
    border: none;
    background: none;
}