<html lang="en">
<head>
    <title>Projy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="position-relative text-center container-cover">
            <img routerLink="/projects" src="assets/projy-background.png" class="img-fluid profile-image" loading="lazy">
        </div>
        <h1 class = "marg-top-3 marg-left marg-bottom bold-text">UI Design</h1>
        <iframe class="marg-left marg-bottom" width="70%" height="1000" src="https://www.youtube.com/embed/UJ6zRjWspJo?si=3htAi5bwnUbROyww" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="marg-left marg-bottom img-fluid" width="80%">
            <img src="assets/Projy/figma.png">
        </div>
    </body>
</html>