<html lang="en">
<head>
    <title>MyHeaven</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="position-relative text-center container-cover">
            <img src="assets/myheaven-background.png" class="img-fluid profile-image" loading="lazy">
        </div>
        <h1 class = "marg-top-3 marg-left marg-bottom bold-text">UI Design</h1>
        <div class="marg-left marg-top-3 marg-bottom img-fluid" width="90%">
            <img class="image" src="assets/MyHeaven/wordpress.png">
        </div>
        
    </body>
</html>