<html lang="en">
<head>
    <title>TripVibe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laura Comanac">
</head>
<app-header-bar></app-header-bar>
    <body>
        <div class="position-relative text-center container-cover">
            <img routerLink="/portofolio" src="assets/tripvibe-background.png" class="img-fluid" loading="lazy">
        </div>
        <h1 class = "marg-top-3 marg-left marg-bottom bold-text">UX Design Research</h1>
        <h2 class = "marg-left marg-bottom bold-text">Responsibilities</h2>
        <p class = "marg-left marg-bottom paragraph">User Research: Competitive Analysis, User Interviews, Affinity Mapping, Mind Mapping, User Personas</p>
        <p class = "marg-left marg-bottom paragraph">UX Design: Sketches, Wireframing, Prototyping, Usability Testing</p>
        <h2 class = "marg-left marg-bottom bold-text">Tools Used</h2>
        <p class = "marg-left marg-bottom paragraph">Figma, Adobe, ProtoPie, Miro, Maze, Zoom</p>
        <h2 class = "marg-left marg-bottom bold-text">Problem</h2>
        <p class = "marg-left marg-bottom paragraph">How might we improve the process of trip planning for travelers?</p>
        <h2 class = "marg-left marg-bottom bold-text">Solution</h2>
        <p class = "marg-left marg-bottom paragraph">Trip planning matching application:</p>
        <iframe class="marg-left marg-bottom" width="85%" height="1000" src="https://www.youtube.com/embed/-HuUZC9mMDI?si=cbFRQ4ZfINJXqIKy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h2 class = "marg-left marg-bottom bold-text">Approach</h2>
        <p class = "marg-left marg-bottom paragraph">1.  Empathize: Qualitative Research - User Interviews, Competitive Analysis</p>
        <p class = "marg-left marg-bottom paragraph">2.  Define: User Personas, Affinity Mapping</p>
        <p class = "marg-left marg-bottom paragraph">3.  Ideate: Sketching, Wireframing, Mind Mapping</p>
        <p class = "marg-left marg-bottom paragraph">4.  Prototype: Mid to high fidelity Prototypes</p>
        <p class = "marg-left marg-bottom paragraph">5.  Test: Usability Testing</p>
        <h2 class = "marg-left marg-bottom bold-text">Empathize</h2>
        <p class = "marg-left marg-bottom paragraph">Conducted 7 user interviews to understand users’ pain points and needs when planning trips and the user journey.</p>
        <p class = "marg-left marg-right marg-bottom paragraph">Analyzed the problem space and current state-of-the-art solutions.</p>
        <p class = "marg-left marg-right marg-bottom paragraph">Made design decisions based on current mental models and current innovative approaches to planning such as AI solutions and brought new ideas based on user feedback. </p>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/AFFINTY.png">
        </div>
        <h2 class = "marg-left marg-bottom bold-text">Define</h2>
        <p class = "marg-left marg-bottom paragraph">Synthesized the collected data from the interviews into an affinity map to help form insights and possible ideas to solve the problems.</p>
        <p class = "marg-left marg-bottom paragraph">Based on the affinity map, User Personas were made to empathize better with the users:</p>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/PERSONA1.png">
        </div>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/PERSONA2.png">
        </div>
        <p class = "marg-left marg-bottom paragraph">The User Personas helped in making a mind map that highlights the pain points and the opportunities for improvement.</p>
        <h2 class = "marg-left marg-bottom bold-text">Ideate</h2>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/MIND-MAP.png">
        </div>
        <p class = "marg-left marg-bottom paragraph">Given these research findings, mind mapping helped in generating design ideas in the form of wireframes.</p>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/WIREFRAMING.png">
        </div>
        <p class = "marg-left marg-bottom paragraph">A moodboard was made in order to decide on typography, colors, images and logo that match the TripVibe ideas.</p>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/MoodBoard.png">
        </div>
        <h2 class = "marg-left marg-bottom bold-text">Prototype</h2>
        <p class = "marg-left marg-bottom paragraph">The moodboard and the design ideas helped in reaching mid to high fidelity prototypes.</p>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/Home.png">
        </div>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/Travel.png">
        </div>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/Plans.png">
        </div>
        <div class="marg-left marg-bottom img-fluid">
            <img class="image" src="assets/TripVibe/Contact.png">
        </div>
        <h2 class = "marg-left marg-bottom bold-text">Test</h2>
        <p class = "marg-left marg-right marg-bottom paragraph">To evaluate this prototype, performed usability testing with the participants.</p>
        <p class = "marg-left marg-right marg-bottom paragraph">This was followed by a quantitative survey that asked participants to describe their thought processes while performing the tasks.</p>
        <p class = "marg-left marg-right marg-bottom paragraph">Gathered mostly positive responses to the prototype but also paths to improvement, such as new ideas to add to the application and improving current designs in terms of accessibility.</p>
    </body>
</html>