.marg-top-3{
    margin-top: 5%;
}

.marg-bottom{
    margin-bottom: 3%;
}

.paragraph{
    font-size: large;
}

.marg-right{
    margin-right: 8% !important;
}

.image {
    width: 90%;
    height: auto;
}