.logo-image{
    width: 80px;
    border-radius: 30%;
    height: auto;
}

.text-color{
    color: white !important;
}

.marg-top-2{
    margin-top: 1%;
}

.marg-top-buttons{
    margin-top: 20% !important;
}

.marg-left{
    margin-left: 8%;
}

.marg-left-2{
    margin-left: 3%;
}

.marg-left-links{
    margin-left: 15%;
}

.marg-right{
    margin-right: 45%;
}

.header-bar{
    width: 100% !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.bg-cyan {
    background-color: #184a77;
    height: 50%;
}

@media only screen and (max-width: 318px) {
    .logo-image {
        width: 20vw;
    }
}

@media only screen and (max-width: 1300px) {
    .cont {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 180px) {
    .btn {
      width: 20%;
    }
}

.btn{
    border-radius: 30%;
}
  
.container-end {
    display: flex;
    justify-content: flex-end;
}

html, body {
    overflow-x: hidden;
    flex-shrink: 0 !important;
}

body {
    font-family: sans-serif;
}

.bold-text{
    font-weight: 500;
}

.bold-text-3{
    font-family: sans-serif;
}

.bold-text-2{
    font-family: cursive;
    font-weight: 10 !important;
}

.sticky {
    position: fixed;
    margin-bottom: 10%;
}

.hide-menu {
    display: none !important;
}

.app-header-bar > .header-bar > .nav > .img-fluid.logo-image {
    flex-shrink: 0;
  }
  